@page
@model project.Pages.ByronosaurusModel
@{
    ViewData["Title"] = "Byronosaurus";
}


<body>
    <div class="container">
        <header>
            <h1>Byronosaurus</h1>
        </header>
        <div class="section">
            <h2>About Byronosaurus</h2>
            <p>
                A Byronosaurus was named in 2000; Byronosaurus means "Byron lizard".
                It was named after Byron Jaffe, who supported the Mongolian Academy of Sciences-American Museum of Natural History Paleontological Expeditions. 
                The average size of a Byronosaurus was a small dinosaur that was 1.5–2 meters (4.9–6.6 ft) long and 50 centimeters (20 in) tall. 
                They weighed about 4–20 kilograms (8.8–44.1 lb).
            </p>

            <img src='https://smithpompilus.com/severside/byrono.jpg'
                 alt='Byronosaurus' />
        </div>

        <div class="section">

            <h2>Body </h2>
            <p>
                Byronosaurus lived during the Late Cretaceous Period, from the Campanian to the Maastrichtian Age. 
                The Byronosaurus inhabited Asia, including Mongolia and the Gobi Desert. 
                The Byronosaurus reproduced by laying eggs. 
                The Byronosaurus parents placed their eggs in the nests of smaller songbirds, a phenomenon known as “brood parasitism,” which means a subclass of parasitism, phenomenon, and behavioral pattern of certain animals, brood parasites, that rely on others to raise their young.
            </p>
            <img src='https://smithpompilus.com/severside/images.jpg'
                 alt=' two' />
            <h2>Facts </h2>
            <p>
                Fun facts about their teeth: Byronosaurus had straight, sharp teeth that lacked serrations; this was similar to its closest relative, Xixiasaurus. 
                Instead, the Xixiasaurus teeth are needle-like and best suited for catching small birds, lizards, and mammals. 
                Scientists believe that Byronosaurus had a large brain and was also an ancestor of the modern bird.
            </p>
        </div>
        <div class="section">
            <h2>Questions</h2>
            <form method="post">
                <ol>
                    <li>
                        <label for="first_question"> What is the height of Ankylosaurus?</label>
                    </li>
                    <input type="radio"
                    <input type="radio" asp-for="question1" value="7m" /> 7m
                    <br>
                    <input type="radio"
                    <input type="radio" asp-for="question2" value="4m" /> 4m
                    <br>
                    <input type="radio"
                    <input type="radio" asp-for="question3" value="10m" /> 10m
                    <br>
                </ol>
            </form>
        </div>
        <div class="section">
            <h4>Sources</h4>
            <p class='sources'>
                <a href='https://assets.onyamagazine.com/wp-content/uploads/2021/09/24161512/Screen-Shot-2021-09-24-at-4.15.11-pm.png'>Image1</a>
                <a href='https://c8.alamy.com/comp/2JCHC10/real-size-dinosaur-ankylosaurus-in-jurassic-park-2JCHC10.jpg'>Image2</a>
                <a href='https://www.activewild.com/ankylosaurus-facts-information-pictures/'>Information Source One</a>
                <a href='https://www.britannica.com/animal/Ankylosaurus'>Information Source Source Two</a>
            </p>
        </div>
    </div>

</body>
