@page
@model project.Pages.Tyrannosaurus_rexModel
@{
    ViewData["Title"] = "Tyrannosaurus rex";
}


<body>
    <div class="container">
        <header>
            <h1>Tyrannosaurus rex</h1>
        </header>
        <div class="section">
            <h2>About Tyrannosaurus rex</h2>
            <p>
                The Tyrannosaurus rex was a large theropod dinosaur that lived in western North America during the Cretaceous period, 68–65 million years ago. 
                They were named T. rex, which means "king of the tyrant lizards." T. rex had a massive body, 60 eight-inch-long teeth, and the strongest bite of any land animal. 
                It could have dented the metal of a car with its bite and could have ripped off a hundred pounds of meat with one bite.

            </p>

            <img src='https://smithpompilus.com/severside/byrono.jpg'
                 alt='Tyrannosaurus rex' />
        </div>

        <div class="section">

            <h2>Body </h2>
            <p>
                Tyrannosaurus rex was 40 feet long, 15 feet high, and weighed about six tons. 
                It had short arms, deep jaws with sharp, serrated teeth, long hind limbs, small eyes, and tiny arms. 
                The T. rex was one of the fiercest predators of all time. 
                It lived on an island continent known as Laramidia and had no natural enemies at the end of the Cretaceous.
            </p>
            <img src='https://smithpompilus.com/severside/images.jpg'
                 alt=' two' />
            <h2>Facts </h2>
            <p>
                Fun facts about T. rex: their diet was carnivorous; their teeth were 60 saw-edged, bone-crushing, pointed teeth; and their size was 12.0 m long. They weighed 7,000 kg, were fast with a speed of 72 km/h, and had a life span of about 28 years. 
                The most complete fossil of T. rex was discovered in South Dakota in the 1980s and named Sue after the fossil hunter who found it. 
                Sue was 13 feet tall and 42 feet long, a big boy.
            </p>
        </div>
        <div class="section">
            <h2>Questions</h2>
            <form method="post">
                <ol>
                    <li>
                        <label for="first_question"> What Is a Tyrannosaurus rex diet like?</label>
                    </li>
                    <input type="radio"
                    <input type="radio" asp-for="question1" value="7m" /> carnivorous
                    <br>
                    <input type="radio"
                    <input type="radio" asp-for="question2" value="4m" /> Plant
                    <br>
                    <input type="radio"
                    <input type="radio" asp-for="question3" value="10m" /> All the above
                    <br>
                </ol>
            </form>

            <form method="post">
                <ol>
                    <li>
                        <label for="first_question"> What is a Tyrannosaurus rex's speed?</label>
                    </li>
                    <input type="radio"
                    <input type="radio" asp-for="question1" value="7m" /> 72 km/h
                    <br>
                    <input type="radio"
                    <input type="radio" asp-for="question2" value="4m" /> 63 km/h
                    <br>
                    <input type="radio"
                    <input type="radio" asp-for="question3" value="10m" /> 50 km/h
                    <br>
                </ol>
            </form>

            <form method="post">
                <ol>
                    <li>
                        <label for="first_question">
                            How much does a Tyrannosaurus rex weigh?</label>
                    </li>
                    <input type="radio"
                    <input type="radio" asp-for="question1" value="7m" /> 700 kg
                    <br>
                    <input type="radio"
                    <input type="radio" asp-for="question2" value="4m" /> 70 kg
                    <br>
                    <input type="radio"
                    <input type="radio" asp-for="question3" value="10m" /> 7000kg
                    <br>
                </ol>
            </form>
        </div>
        <div class="section">
            <h4>Sources</h4>
            <p class='sources'>
                <a href='https://assets.onyamagazine.com/wp-content/uploads/2021/09/24161512/Screen-Shot-2021-09-24-at-4.15.11-pm.png'>Image1</a>
                <a href='https://c8.alamy.com/comp/2JCHC10/real-size-dinosaur-ankylosaurus-in-jurassic-park-2JCHC10.jpg'>Image2</a>
                <a href='https://www.activewild.com/ankylosaurus-facts-information-pictures/'>Information Source One</a>
                <a href='https://www.britannica.com/animal/Ankylosaurus'>Information Source Source Two</a>
            </p>
        </div>
    </div>

</body>
